// ==========================================================================
// Placeholders
// ==========================================================================

// Panels

%panel-default {
	padding-top: em(30px);
	padding_bottom: em(20px);
}

%panel-padding {
	padding-top: em(80px);
	padding_bottom: em(34px);
}